# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
lib/
lib64/
Python/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.pth
.tox/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.dmypy.json
.vscode/
.idea/
.env